body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.hero-section {
    height: 400px;
    background-image: url("../assets/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard {
    transition: 0.3s;
}

.dashboard:hover {
    transform: scale(1.05);
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #2c2c2c;
    color: #fff;
}

body.dark-mode .modal-content {
    background-color: #2c2c2c;
    color: #fff;
}